// ---------------------------------------------------------------------------
// Imports

@import "susy";

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 10;
$column-width   : 4em;
$gutter-width   : 0em;
$grid-padding   : 0em;

$show-grid-backgrounds  : false;

$break50			: 50em 16;
$break45			: 45em 16;
$break40			: 40em 16;

//sub-breaks for individual elements 
$break55			: 55em 16;
$break45			: 45em 16;
$break60			: 60em 16;
