#noscripts{
	z-index:50;
	height:100%;
	width:100%;

	#outer-container{
		display: table;
	    position: fixed;
	    height: 100%;
	    width: 100%;
	    background-color:black;
	    z-index:50;
	    top:0;
	    bottom:0;
	    left:0;
	    right:0;

		#message-container{
			display: table-cell;
	    	vertical-align: middle;
	    	z-index: 50;

			#messages{
				@include futura(1.5em, white);
				margin-left: auto;
    			margin-right: auto;
    			width:75%; 
   				background-color:black;
   				z-index: 50;
				border:.3em dashed white;
				text-align: center;
				display:block;


				#message-script{
					padding:.5em;
				}
				#message-firefox{
					padding:.5em;

				}
			}
		}
	}
}