//typography
.outer{  
  font-family: "Arial";
  color: black;
}

@mixin vertical() {
	//Improve performance on mobile/tablet devices
  -webkit-transform: scale(1.25,1);
  transform:rotate(270deg);
  -ms-transform:rotate(270deg); // IE 9
  -webkit-transform:rotate(270deg); /* Safari and Chrome */
}

@mixin uppercase(){
	text-transform:uppercase;
}

@mixin scale($x, $y)
{
	transform:scale($x,$y);
	-ms-transform:scale($x,$y); /* IE 9 */
	-webkit-transform:scale($x,$y); /* Safari and Chrome */
}

//typography 

@mixin futura($px, $color){
	font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
	font-size:$px;
	color:$color;
	text-transform:uppercase;

}

@mixin futura-Bold($px, $color){
	font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
	font-size:$px;
	font-weight: bold;
	color:$color;
	text-transform:uppercase;

}

@mixin futura-BoldItalic($px, $color){
	font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
	font-style: italic;
	font-weight: bold;
	font-size:$px;
	color:$color;
	text-transform:uppercase;

}

@mixin futura-ExtraBold($px, $color){
	font-family: "Futura-ExtraBold", "Trebuchet MS", Arial, sans-serif;
	// font-weight: bold;
	font-size:$px;
	color:$color;
	text-transform:uppercase;
}

@mixin extraBoldOblique($px, $color){
	// font-family: "Futura-ExtaBoldOblique", "Trebuchet MS", Arial, sans-serif;
	font-family: "Futura-ExtaBoldOblique";
	font-style: italic;
	font-weight: bold;
	font-size:$px;
	color:$color;
	text-transform:uppercase;
}

@mixin courier($px, $color){
	font-family: "Courier New";
	font-size:$px;
	color:$color;
}

@mixin futura-p($px, $color){
	font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
	font-size:$px;
	color:$color;
}

@mixin futura-low($px, $color){
	font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
	color:$color;
	font-size:$px;
}

@mixin futura-blog($color){
	font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
	color:$color;
}
