//typography
.outer{  
  font-family: "Arial";
  color: black;
}

@mixin vertical() {
	//Improve performance on mobile/tablet devices
  -webkit-transform: scale(1.25,1);
  transform:rotate(270deg);
  -ms-transform:rotate(270deg); // IE 9
  -webkit-transform:rotate(270deg); /* Safari and Chrome */
}

@mixin uppercase(){
	text-transform:uppercase;
}

@mixin scale($x, $y)
{
	transform:scale($x,$y);
	-ms-transform:scale($x,$y); /* IE 9 */
	-webkit-transform:scale($x,$y); /* Safari and Chrome */
}

//typography 

@mixin futura($px){
	font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
	font-size:$px;
	color:white;
	text-transform:uppercase;

}

@mixin futura-Bold($px){
	font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
	font-size:$px;
	font-weight: bold;
	color:white;
	text-transform:uppercase;

}

@mixin futura-BoldItalic($px){
	font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
	font-style: italic;
	font-weight: bold;
	font-size:$px;
	color:white;
	text-transform:uppercase;

}

@mixin futura-ExtraBold($px){
	font-family: "Futura-ExtraBold", "Trebuchet MS", Arial, sans-serif;
	// font-weight: bold;
	font-size:$px;
	color:white;
	text-transform:uppercase;

}

@mixin extraBoldOblique($px){
	// font-family: "Futura-ExtaBoldOblique", "Trebuchet MS", Arial, sans-serif;
	font-family: "Futura-ExtaBoldOblique";
	font-style: italic;
	font-weight: bold;
	font-size:$px;
	color:white;
	text-transform:uppercase;
}

@mixin courier($px){
	font-family: "Courier New";
	font-size:$px;
	color:white;
}

@mixin futura-p($px){
	font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
	font-size:$px;
	color:white;
}

//black variants 
//////////////////////////////////

@mixin futuraBlk($px){
	font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
	font-size:$px;
	color:black;
	text-transform:uppercase;

}

@mixin futura-BoldBlk($px){
	font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
	font-size:$px;
	font-weight: bold;
	color:black;
	text-transform:uppercase;

}

@mixin futura-BoldItalicBlk($px){
	font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
	font-style: italic;
	font-weight: bold;
	font-size:$px;
	color:black;
	text-transform:uppercase;

}

@mixin futura-ExtraBoldBlk($px){
	font-family: "Futura-ExtraBold", "Trebuchet MS", Arial, sans-serif;
	// font-weight: bold;
	font-size:$px;
	color:black;
	text-transform:uppercase;

}

// @mixin futura-ExtraBoldBlk(){
// 	font-family: "Futura-ExtraBold", "Trebuchet MS", Arial, sans-serif;
// 	// font-weight: bold;
// 	color:black;
// 	text-transform:uppercase;
// }

@mixin extraBoldObliqueBlk($px){
	// font-family: "Futura-ExtaBoldOblique", "Trebuchet MS", Arial, sans-serif;
	font-family: "Futura-ExtaBoldOblique";
	font-style: italic;
	font-weight: bold;
	font-size:$px;
	color:black;
	text-transform:uppercase;
}

@mixin courierblk($px){
	font-family: "Courier New";
	font-size:$px;
	color:black;
}

@mixin futura-pblk($px){
	font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
	font-size:$px;
	color:black;
}


@mixin futura-blog(){
	font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
	color:black;
}
