	/*

  	Author: Olga Romanova 
  
	*/
/* line 2, ../sass/_variables.scss */
.outer {
  font-family: "Arial";
  color: black;
}

/* line 1, ../sass/_ready.scss */
#noscripts {
  z-index: 50;
  height: 100%;
  width: 100%;
}
/* line 6, ../sass/_ready.scss */
#noscripts #outer-container {
  display: table;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: 50;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 18, ../sass/_ready.scss */
#noscripts #outer-container #message-container {
  display: table-cell;
  vertical-align: middle;
  z-index: 50;
}
/* line 23, ../sass/_ready.scss */
#noscripts #outer-container #message-container #messages {
  font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
  font-size: 1.5em;
  color: white;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  background-color: black;
  z-index: 50;
  border: .3em dashed white;
  text-align: center;
  display: block;
}
/* line 35, ../sass/_ready.scss */
#noscripts #outer-container #message-container #messages #message-script {
  padding: .5em;
}
/* line 38, ../sass/_ready.scss */
#noscripts #outer-container #message-container #messages #message-firefox {
  padding: .5em;
}

/*!
 * Hover.css (http://ianlunn.co.uk/)
 * Version: 1.0.3
 * Author: Ian Lunn @IanLunn
 * Author URL: http://ianlunn.co.uk/
 * Github: https://github.com/IanLunn/Hover

 * Made available under a MIT License:
 * http://www.opensource.org/licenses/mit-license.php

 * Hover.css Copyright Ian Lunn 2014.
 */
/* Default styles for the demo buttons */
/* line 22, ../sass/vendor/hover/hover.scss */
.button {
  margin: .4em;
  padding: 1em;
  cursor: pointer;
  background: #e1e1e1;
  text-decoration: none;
  color: #666666;
}

/* Wobble Vertical */
@keyframes wobble-vertical {
  /* line 3, ../sass/vendor/hover/effects/_wobble-vertical.scss */
  16.65% {
    transform: translateY(8px);
  }

  /* line 7, ../sass/vendor/hover/effects/_wobble-vertical.scss */
  33.3% {
    transform: translateY(-6px);
  }

  /* line 11, ../sass/vendor/hover/effects/_wobble-vertical.scss */
  49.95% {
    transform: translateY(4px);
  }

  /* line 15, ../sass/vendor/hover/effects/_wobble-vertical.scss */
  66.6% {
    transform: translateY(-2px);
  }

  /* line 19, ../sass/vendor/hover/effects/_wobble-vertical.scss */
  83.25% {
    transform: translateY(1px);
  }

  /* line 23, ../sass/vendor/hover/effects/_wobble-vertical.scss */
  100% {
    transform: translateY(0);
  }
}

/* line 28, ../sass/vendor/hover/hover.scss */
.wobble-vertical {
  display: inline-block;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* line 33, ../sass/vendor/hover/effects/_wobble-vertical.scss */
.wobble-vertical:hover {
  animation-name: wobble-vertical;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

/* -------------------------------------------------------------------------*/
/* Layout */
/* line 10, ../sass/_layout.scss */
.container {
  *zoom: 1;
  max-width: 40em;
  _width: 40em;
  padding-left: 0em;
  padding-right: 0em;
  margin-left: auto;
  margin-right: auto;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
}
/* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 15, ../sass/_layout.scss */
html {
  box-sizing: border-box;
  overflow-x: hidden;
}

/* line 20, ../sass/_layout.scss */
body.dotcom {
  width: 100%;
  position: relative;
  background-color: white;
  overflow-x: hidden;
  margin: 0px;
  background-color: black;
  color: white;
}

/* line 30, ../sass/_layout.scss */
#ready {
  z-index: 50;
  display: none;
  height: 100%;
  width: 100%;
}

/* line 37, ../sass/_layout.scss */
.box {
  height: 100%;
  width: 100%;
}
@media only screen and (min-device-width: 641px) and (min-width: 40em) {
  /* line 37, ../sass/_layout.scss */
  .box {
    display: block;
    position: relative;
    width: 95%;
    margin: 2em auto;
  }
}

@media only screen and (min-device-width: 641px) and (min-width: 40em) {
  /* line 54, ../sass/_layout.scss */
  .box:before {
    display: block;
    padding-top: 100%;
    content: "";
  }
}

/* line 66, ../sass/_layout.scss */
.outer {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@media only screen and (min-device-width: 641px) and (min-width: 40em) {
  /* line 66, ../sass/_layout.scss */
  .outer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 60em;
    max-width: 60em;
    margin: 0 auto;
  }
}
/* line 87, ../sass/_layout.scss */
.outer .container {
  *zoom: 1;
  max-width: 40em;
  _width: 40em;
  padding-left: 0em;
  padding-right: 0em;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 0px 0.3em #FFF;
  margin: auto;
  height: 100%;
}
/* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.outer .container:after {
  content: "";
  display: table;
  clear: both;
}
/* line 95, ../sass/_layout.scss */
.outer .container #top {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: 0em;
  display: inline;
  height: 35%;
}
/* line 99, ../sass/_layout.scss */
.outer .container #top #name {
  text-align: center;
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: 0em;
  display: inline;
}
/* line 103, ../sass/_layout.scss */
.outer .container #top #name #olga {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: 0em;
  display: inline;
  font-family: "futura-pt", "Trebuchet MS", Arial, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 100px;
  color: white;
  text-transform: uppercase;
  font-style: italic;
  display: block;
  margin: -0.05em 0em 0em 0em;
}
/* line 115, ../sass/_layout.scss */
.outer .container #top #name #romanova {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: 0em;
  display: inline;
  font-family: "futura-pt", "Trebuchet MS", Arial, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 75px;
  color: white;
  text-transform: uppercase;
  display: block;
}
/* line 125, ../sass/_layout.scss */
.outer .container #content {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: 0em;
  display: inline;
  height: 55%;
  width: 100%;
  position: relative;
  display: block;
  border-top: 0.3em solid white;
  border-bottom: 0.3em solid white;
}
/* line 134, ../sass/_layout.scss */
.outer .container #content .section {
  height: 100%;
  position: relative;
  text-align: center;
}
/* line 139, ../sass/_layout.scss */
.outer .container #content .section .section-container {
  height: 100%;
  margin-top: .25em;
}
/* line 143, ../sass/_layout.scss */
.outer .container #content .section .section-container a {
  z-index: 10;
  bottom: 0em;
  margin: 0 auto;
  text-decoration: none;
  color: white;
}
/* line 150, ../sass/_layout.scss */
.outer .container #content .section .section-container a .title {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
/* line 159, ../sass/_layout.scss */
.outer .container #content #github {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: 0em;
  display: inline;
  box-shadow: 0px 0px 0px 0.3em #FFF;
  font-family: "futura-pt", "Trebuchet MS", Arial, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 30;
  color: white;
  text-transform: uppercase;
}
/* line 164, ../sass/_layout.scss */
.outer .container #content #github .section-container {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: 0em;
  display: inline;
  transform: scale(1.15, 1);
  -ms-transform: scale(1.15, 1);
  /* IE 9 */
  -webkit-transform: scale(1.15, 1);
  /* Safari and Chrome */
}
/* line 176, ../sass/_layout.scss */
.outer .container #content #twitter {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: 0em;
  display: inline;
  box-shadow: 0px 0px 0px 0.3em #FFF;
  font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
  font-size: 30;
  color: white;
  text-transform: uppercase;
}
/* line 181, ../sass/_layout.scss */
.outer .container #content #twitter .section-container {
  transform: scale(1, 1.3);
  -ms-transform: scale(1, 1.3);
  /* IE 9 */
  -webkit-transform: scale(1, 1.3);
  /* Safari and Chrome */
}
/* line 192, ../sass/_layout.scss */
.outer .container #content #soundcloud {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: 0em;
  display: inline;
  box-shadow: 0px 0px 0px 0.3em #FFF;
  font-family: "futura-pt", "Trebuchet MS", Arial, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 30px;
  color: white;
  text-transform: uppercase;
}
/* line 197, ../sass/_layout.scss */
.outer .container #content #soundcloud .section-container {
  transform: scale(1.25, 0.9);
  -ms-transform: scale(1.25, 0.9);
  /* IE 9 */
  -webkit-transform: scale(1.25, 0.9);
  /* Safari and Chrome */
}
/* line 208, ../sass/_layout.scss */
.outer .container #content #linkedin {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: 0em;
  display: inline;
  box-shadow: 0px 0px 0px 0.3em #FFF;
}
/* line 212, ../sass/_layout.scss */
.outer .container #content #linkedin .section-container {
  transform: scale(1.25, 1.3);
  -ms-transform: scale(1.25, 1.3);
  /* IE 9 */
  -webkit-transform: scale(1.25, 1.3);
  /* Safari and Chrome */
}
/* line 220, ../sass/_layout.scss */
.outer .container #content #linkedin .section-container a .title #linked {
  font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}
/* line 224, ../sass/_layout.scss */
.outer .container #content #linkedin .section-container a .title #in {
  font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
  font-size: 30px;
  color: white;
  text-transform: uppercase;
}
/* line 232, ../sass/_layout.scss */
.outer .container #content .one {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: 0em;
  display: inline;
}
/* line 235, ../sass/_layout.scss */
.outer .container #content .one #desc-blog {
  text-align: center;
}
/* line 238, ../sass/_layout.scss */
.outer .container #content .one #desc-blog #description {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: 0em;
  display: inline;
  width: 100%;
  text-decoration: none;
  font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
  font-size: 1em;
  color: white;
}
/* line 245, ../sass/_layout.scss */
.outer .container #content .one #desc-blog #description p {
  margin: 1em;
  text-align: justify;
}
/* line 251, ../sass/_layout.scss */
.outer .container #content .one #desc-blog #blog {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: 0em;
  display: inline;
  font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
  font-size: 30px;
  color: white;
  text-transform: uppercase;
  border-top: 0.3em solid white;
  border-bottom: 0.3em solid white;
}
/* line 257, ../sass/_layout.scss */
.outer .container #content .one #desc-blog #blog .section-container-blog {
  transform: scale(1.8, 1.3);
  -ms-transform: scale(1.8, 1.3);
  /* IE 9 */
  -webkit-transform: scale(1.8, 1.3);
  /* Safari and Chrome */
  position: relative;
  bottom: 0em;
}
/* line 262, ../sass/_layout.scss */
.outer .container #content .one #desc-blog #blog .section-container-blog a {
  text-decoration: none;
  color: white;
}
/* line 272, ../sass/_layout.scss */
.outer .container #content .one #desc-blog #year {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: 0em;
  display: inline;
  font-family: "futura-pt", "Trebuchet MS", Arial, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 30px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 0.3em solid white;
}
/* line 278, ../sass/_layout.scss */
.outer .container #content .one #desc-blog #year .section-container-year {
  transform: scale(1.5, 1.2);
  -ms-transform: scale(1.5, 1.2);
  /* IE 9 */
  -webkit-transform: scale(1.5, 1.2);
  /* Safari and Chrome */
  margin-top: .5em;
}
/* line 290, ../sass/_layout.scss */
.outer .container #email {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: 0em;
  display: inline;
  font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
  font-size: 30;
  color: white;
  text-transform: uppercase;
  height: 8%;
  position: relative;
  text-align: center;
}
/* line 297, ../sass/_layout.scss */
.outer .container #email .section-container-horiz {
  transform: scale(2, 1.2);
  -ms-transform: scale(2, 1.2);
  /* IE 9 */
  -webkit-transform: scale(2, 1.2);
  /* Safari and Chrome */
}
/* line 300, ../sass/_layout.scss */
.outer .container #email .section-container-horiz a {
  text-decoration: none;
  color: white;
}
@media only screen and (min-device-width: 641px) and (min-width: 40em) {
  /* line 87, ../sass/_layout.scss */
  .outer .container {
    max-width: 64em;
    padding-left: 0em;
    padding-right: 0em;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 0px 0.45em #FFF;
    margin: auto;
    height: 100%;
  }
  /* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .outer .container:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 323, ../sass/_layout.scss */
  .outer .container #top {
    width: 100%;
    float: right;
    margin-right: 0;
    height: 35%;
  }
  /* line 327, ../sass/_layout.scss */
  .outer .container #top #name {
    width: 100%;
    float: right;
    margin-right: 0;
  }
  /* line 330, ../sass/_layout.scss */
  .outer .container #top #name #olga {
    width: 100%;
    float: right;
    margin-right: 0;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -webkit-transform: scale(1, 1);
    /* Safari and Chrome */
    display: block;
  }
  /* line 336, ../sass/_layout.scss */
  .outer .container #top #name #romanova {
    width: 100%;
    float: right;
    margin-right: 0;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -webkit-transform: scale(1, 1);
    /* Safari and Chrome */
    display: block;
    margin: -.6em 0.1em -.25em 0;
  }
  /* line 345, ../sass/_layout.scss */
  .outer .container #content {
    width: 100%;
    float: right;
    margin-right: 0;
    height: 55%;
    width: 100%;
    position: relative;
    display: block;
    border-top: 0.45em solid white;
    border-bottom: 0.45em solid white;
  }
  /* line 354, ../sass/_layout.scss */
  .outer .container #content .section {
    height: 100%;
    padding: 0em 0em 0em 0em;
    left: 0em;
    position: static;
    text-align: left;
  }
  /* line 363, ../sass/_layout.scss */
  .outer .container #content .section .section-container {
    height: 100%;
    margin: 0em 1.5em 0em 0.5em;
  }
  /* line 367, ../sass/_layout.scss */
  .outer .container #content .section .section-container a {
    z-index: 10;
    position: absolute;
    bottom: 0em;
    margin: 0 auto;
  }
  /* line 373, ../sass/_layout.scss */
  .outer .container #content .section .section-container a .title {
    -webkit-transform: scale(1.25, 1);
    transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    /* Safari and Chrome */
    height: 100%;
    width: 100%;
    margin: 0 auto;
    position: absolute;
  }
  /* line 384, ../sass/_layout.scss */
  .outer .container #content #github {
    width: 18.75%;
    float: left;
    margin-right: 0%;
    box-shadow: 0px 0px 0px 0.225em #FFF;
  }
  /* line 388, ../sass/_layout.scss */
  .outer .container #content #github .section-container {
    transform: scale(1.5, 0.9);
    -ms-transform: scale(1.5, 0.9);
    /* IE 9 */
    -webkit-transform: scale(1.5, 0.9);
    /* Safari and Chrome */
    margin: 0em -0.7em 0em 0em;
  }
  /* line 392, ../sass/_layout.scss */
  .outer .container #content #github .section-container a {
    margin: 0em 0em -1em .75em;
  }
  /* line 402, ../sass/_layout.scss */
  .outer .container #content #twitter {
    width: 18.75%;
    float: left;
    margin-right: 0%;
    box-shadow: 0px 0px 0px 0.225em #FFF;
  }
  /* line 406, ../sass/_layout.scss */
  .outer .container #content #twitter .section-container {
    transform: scale(1.4, 1);
    -ms-transform: scale(1.4, 1);
    /* IE 9 */
    -webkit-transform: scale(1.4, 1);
    /* Safari and Chrome */
  }
  /* line 409, ../sass/_layout.scss */
  .outer .container #content #twitter .section-container a {
    margin: 0em 0em 0em -.5em;
  }
  /* line 419, ../sass/_layout.scss */
  .outer .container #content #soundcloud {
    width: 12.5%;
    float: left;
    margin-right: 0%;
    box-shadow: 0px 0px 0px 0.225em #FFF;
  }
  /* line 423, ../sass/_layout.scss */
  .outer .container #content #soundcloud .section-container {
    transform: scale(1.4, 0.8);
    -ms-transform: scale(1.4, 0.8);
    /* IE 9 */
    -webkit-transform: scale(1.4, 0.8);
    /* Safari and Chrome */
  }
  /* line 426, ../sass/_layout.scss */
  .outer .container #content #soundcloud .section-container a {
    margin: 0em 0em -1em -0.25em;
  }
  /* line 437, ../sass/_layout.scss */
  .outer .container #content #linkedin {
    width: 18.75%;
    float: left;
    margin-right: 0%;
    box-shadow: 0px 0px 0px 0.225em #FFF;
  }
  /* line 441, ../sass/_layout.scss */
  .outer .container #content #linkedin .section-container {
    transform: scale(1.4, 0.85);
    -ms-transform: scale(1.4, 0.85);
    /* IE 9 */
    -webkit-transform: scale(1.4, 0.85);
    /* Safari and Chrome */
  }
  /* line 444, ../sass/_layout.scss */
  .outer .container #content #linkedin .section-container a {
    margin: 0em 0em -1.5em -.2em;
  }
  /* line 461, ../sass/_layout.scss */
  .outer .container #content .one {
    width: 31.25%;
    float: right;
    margin-right: 0;
    height: 100%;
    box-shadow: 0px 0px 0px 0.225em #FFF;
  }
  /* line 468, ../sass/_layout.scss */
  .outer .container #content .one #desc-blog #description {
    width: 100%;
    float: right;
    margin-right: 0;
    width: 100%;
  }
  /* line 472, ../sass/_layout.scss */
  .outer .container #content .one #desc-blog #description p {
    margin: 1em;
    text-align: justify;
  }
  /* line 478, ../sass/_layout.scss */
  .outer .container #content .one #desc-blog #blog {
    width: 100%;
    float: right;
    margin-right: 0;
    border-top: 0.45em solid white;
    border-bottom: 0.45em solid white;
    text-align: center;
  }
  /* line 484, ../sass/_layout.scss */
  .outer .container #content .one #desc-blog #blog .section-container-blog {
    transform: scale(1.4, 1.3);
    -ms-transform: scale(1.4, 1.3);
    /* IE 9 */
    -webkit-transform: scale(1.4, 1.3);
    /* Safari and Chrome */
    position: relative;
    bottom: 0em;
  }
  /* line 489, ../sass/_layout.scss */
  .outer .container #content .one #desc-blog #blog .section-container-blog a {
    text-decoration: none;
  }
  /* line 498, ../sass/_layout.scss */
  .outer .container #content .one #desc-blog #year {
    width: 100%;
    float: right;
    margin-right: 0;
    border-bottom: none;
  }
  /* line 502, ../sass/_layout.scss */
  .outer .container #content .one #desc-blog #year .section-container-year {
    transform: scale(1.1, 1.5);
    -ms-transform: scale(1.1, 1.5);
    /* IE 9 */
    -webkit-transform: scale(1.1, 1.5);
    /* Safari and Chrome */
  }
  /* line 505, ../sass/_layout.scss */
  .outer .container #content .one #desc-blog #year .section-container-year .title {
    width: 100%;
    float: right;
    margin-right: 0;
  }
  /* line 515, ../sass/_layout.scss */
  .outer .container #email {
    width: 100%;
    float: right;
    margin-right: 0;
    height: 8%;
    left: -0.75em;
    position: relative;
    padding: 0em .5em 0em 0em;
    margin: -0em -1em 0em 0em;
  }
  /* line 523, ../sass/_layout.scss */
  .outer .container #email .section-container-horiz {
    width: 100%;
    float: right;
    margin-right: 0;
    transform: scale(2.1, 0.6);
    -ms-transform: scale(2.1, 0.6);
    /* IE 9 */
    -webkit-transform: scale(2.1, 0.6);
    /* Safari and Chrome */
    margin: 0em 0em 0em 0em;
  }
  /* line 528, ../sass/_layout.scss */
  .outer .container #email .section-container-horiz a {
    width: 100%;
    float: right;
    margin-right: 0;
    text-align: center;
  }
  /* line 532, ../sass/_layout.scss */
  .outer .container #email .section-container-horiz a .title {
    width: 100%;
    float: right;
    margin-right: 0;
    display: block;
    position: absolute;
  }
}
@media only screen and (min-device-width: 641px) and (min-width: 50em) {
  /* line 87, ../sass/_layout.scss */
  .outer .container {
    max-width: 64em;
    padding-left: 0em;
    padding-right: 0em;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 0px 0.5em #FFF;
  }
  /* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .outer .container:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 564, ../sass/_layout.scss */
  .outer .container #content {
    border-top: 0.5em solid white;
    border-bottom: 0.5em solid white;
  }
  /* line 568, ../sass/_layout.scss */
  .outer .container #content #github {
    box-shadow: 0px 0px 0px 0.25em #FFF;
  }
  /* line 573, ../sass/_layout.scss */
  .outer .container #content #github .section-container a {
    margin: 0em 0em -1em .8em;
  }
  /* line 582, ../sass/_layout.scss */
  .outer .container #content #twitter {
    box-shadow: 0px 0px 0px 0.25em #FFF;
  }
  /* line 587, ../sass/_layout.scss */
  .outer .container #content #twitter .section-container a {
    margin: 0em 0em 0.2em -.5em;
  }
  /* line 596, ../sass/_layout.scss */
  .outer .container #content #soundcloud {
    box-shadow: 0px 0px 0px 0.25em #FFF;
  }
  /* line 601, ../sass/_layout.scss */
  .outer .container #content #soundcloud .section-container a {
    margin: 0em 0em -1em 0em;
  }
  /* line 610, ../sass/_layout.scss */
  .outer .container #content #linkedin {
    width: 18.75%;
    float: left;
    margin-right: 0%;
    box-shadow: 0px 0px 0px 0.25em #FFF;
  }
  /* line 616, ../sass/_layout.scss */
  .outer .container #content #linkedin .section-container a {
    margin: 0em 0em -2em .25em;
  }
  /* line 642, ../sass/_layout.scss */
  .outer .container #content .one #desc-blog #blog {
    border-top: 0.25em solid white;
  }
  /* line 646, ../sass/_layout.scss */
  .outer .container #content .one #desc-blog #blog .section-container-blog {
    position: relative;
    left: .25em;
  }
  /* line 660, ../sass/_layout.scss */
  .outer .container #content .one #desc-blog #year .section-container-year {
    transform: scale(1.1, 1.2);
    -ms-transform: scale(1.1, 1.2);
    /* IE 9 */
    -webkit-transform: scale(1.1, 1.2);
    /* Safari and Chrome */
  }
  /* line 671, ../sass/_layout.scss */
  .outer .container #email {
    height: 9%;
    position: relative;
    margin: -0em -1.25em 0em 0em;
  }
}
@media only screen and (min-device-width: 641px) and (min-width: 55em) {
  /* line 87, ../sass/_layout.scss */
  .outer .container {
    max-width: 64em;
    padding-left: 0em;
    padding-right: 0em;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 0px 0.55em #FFF;
  }
  /* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .outer .container:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 709, ../sass/_layout.scss */
  .outer .container #content {
    border-top: 0.55em solid white;
    border-bottom: 0.55em solid white;
  }
  /* line 713, ../sass/_layout.scss */
  .outer .container #content #github {
    box-shadow: 0px 0px 0px 0.2525em #FFF;
  }
  /* line 718, ../sass/_layout.scss */
  .outer .container #content #github .section-container a {
    margin: 0em 0em -1em 1em;
  }
  /* line 727, ../sass/_layout.scss */
  .outer .container #content #twitter {
    box-shadow: 0px 0px 0px 0.2525em #FFF;
  }
  /* line 740, ../sass/_layout.scss */
  .outer .container #content #soundcloud {
    box-shadow: 0px 0px 0px 0.2525em #FFF;
  }
  /* line 753, ../sass/_layout.scss */
  .outer .container #content #linkedin {
    box-shadow: 0px 0px 0px 0.2525em #FFF;
  }
  /* line 783, ../sass/_layout.scss */
  .outer .container #content .one #desc-blog #blog {
    border-top: 0.55em solid white;
    border-bottom: 0.55em solid white;
  }
}
@media only screen and (min-device-width: 641px) and (min-width: 60em) {
  /* line 87, ../sass/_layout.scss */
  .outer .container {
    max-width: 64em;
    padding-left: 0em;
    padding-right: 0em;
    margin-left: auto;
    margin-right: auto;
    border: 0.625em solid white;
  }
  /* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .outer .container:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 845, ../sass/_layout.scss */
  .outer .container #content {
    border-top: 0.625em solid white;
    border-bottom: 0.625em solid white;
  }
  /* line 849, ../sass/_layout.scss */
  .outer .container #content #github {
    box-shadow: 0px 0px 0px 0.3125em #FFF;
  }
  /* line 854, ../sass/_layout.scss */
  .outer .container #content #github .section-container a {
    margin: 0em 0em -1em 1em;
  }
  /* line 863, ../sass/_layout.scss */
  .outer .container #content #twitter {
    box-shadow: 0px 0px 0px 0.3125em #FFF;
  }
  /* line 868, ../sass/_layout.scss */
  .outer .container #content #twitter .section-container a {
    margin: 0em 0em 0.2em -.5em;
  }
  /* line 877, ../sass/_layout.scss */
  .outer .container #content #soundcloud {
    box-shadow: 0px 0px 0px 0.3125em #FFF;
  }
  /* line 882, ../sass/_layout.scss */
  .outer .container #content #soundcloud .section-container a {
    margin: 0em 0em -1.5em 1em;
  }
  /* line 891, ../sass/_layout.scss */
  .outer .container #content #linkedin {
    box-shadow: 0px 0px 0px 0.3125em #FFF;
  }
  /* line 896, ../sass/_layout.scss */
  .outer .container #content #linkedin .section-container a {
    margin: 0em 0em -2em .5em;
  }
  /* line 912, ../sass/_layout.scss */
  .outer .container #content .one {
    box-shadow: 0px 0px 0px 0.3125em #FFF;
  }
  /* line 917, ../sass/_layout.scss */
  .outer .container #content .one #desc-blog #description {
    width: 100%;
  }
  /* line 924, ../sass/_layout.scss */
  .outer .container #content .one #desc-blog #blog {
    border-top: 0.625em solid white;
    border-bottom: 0.625em solid white;
  }
  /* line 950, ../sass/_layout.scss */
  .outer .container #email {
    height: 8%;
    position: relative;
    margin: 0em -1em 0em 0em;
  }
  /* line 959, ../sass/_layout.scss */
  .outer .container #email .section-container-horiz a .title {
    display: block;
    position: absolute;
  }
}
