// =Search Form
form#search {
	// background: $bg-color-4;
	// padding: 18px 0;

	input{
		padding: 8px 15px;
		width: 100%;
		color: black;
		border: none;
		outline: none;
		@include futura-Bold(20px,Black);
	}
}


// =Main Navigation
#main {
	display: block;
	 
	ul {
		@extend #main;
		font-size: 0;

		li {
			@extend #main;
			
			a {
				font-size: 13px;
			}
			a.menu-item:hover {
				// font-size: 13px;
				background-color: black;
				color:white;
			}

			// a#tray:hover{
			// 	background-color:white;
			// }
		}
	}
}
span {
	&#s{
		display: inline-block;
		position: relative;
		text-indent: -99999px;
		width: 25px;
		height: 22px;
		cursor: pointer;

		&:before {
			content: "s";
			position: absolute;
			top: 0;
			left: 0;
			width: 25px;
			height: 22px;

			// font-family: $symbol;
			// font-size: 16px;
			@include futura-p(1em, black);
			line-height: 22px;
			// color: $color-3;
			text-indent: 0;
			text-align: center;
		}
	}
	&#s.close:before{
		content: "x"
	}
}

// =Content
ul {
	&.items{
		margin: 0;
		padding: 0;
		list-style: none;

		a {
			text-decoration: none;

			time {
				font-size: 12px;
			}
			h2 {
				max-width: 80%;
			}
			time, h2 {
				display: inline-block;
			}
		}
	}
}


// =Footer
#bottom {
	text-align:center;
	ul {
		padding: .5em;
		margin: 0;
		font-size: 0;
		list-style: none;

		li {
			display: inline-block;

			a {
				font-size: 14px;
				color:black;
				padding:.25em;
			}
			a:hover{
				color:white;
				background-color:black;
			}
		}
	}
	#attribution {
		display: block;
		width: 24px;
		height: 22px;
		text-indent: -9999px;
		background: url(../images/attribution.gif); //Set sail!
	}
	small#footer-text{
		font-weight: normal; 	
	}
}

//default css 


h1 {
	padding: 80px 0 40px;

	font-size: 40px;
	line-height: 48px;
	color: black;
}
	.search h1 {
		padding: 60px 0;
		color:black;
	}

article{
	p{
		font-weight: normal;
		text-transform: none;
	}
}	

/* The slide-down panel at the very top of the page. Like literally. It's above the page, hidden. */
.slidey {
	overflow: hidden;
	padding: 30px 0;

	// background: #f3f5f8;
	background-color:white;
	border-bottom: .15em dashed black;
}
	.js-enabled .slidey {
		-webkit-transition: margin-top .2s;
		-moz-transition: margin-top .2s;
		transition: margin-top .2s;
	}
	.slidey b, .slidey label {
		display: block;
		font-weight: 500;
		padding-bottom: 15px;
		margin-bottom:15px;
		text-align: center;
		font-size: 15px;
		font-weight: 500;
	}
	.slidey form, .slidey aside {
		float: left;
		width: 50%;
	}
		.slidey form input {
			padding: 20px;
			width: 75%;
		}
	.slidey li {
		list-style: none;
	}
		.slidey a {
			display: block;
			text-decoration: none;
			font-size: 20px;
			color: black;
		}
			.slidey a:hover {
				color: white;
				background-color:black;
			}
		.slidey li span {
			float: right;
			opacity: .6;
		}

#top {
	overflow: hidden;
	padding: 1.25em 2em;

	background: #fff;
	border-bottom: .15em dashed black;
}
	#top a {
		float: left;
		@include futura-ExtraBold(1em, black);
		// font-size: 13px;
		// font-weight: 500;
		text-decoration: none;

		// color: #8895a7;
	}
		#top #logo:hover{
			@include futura-ExtraBold(1em, white);
			// color: #4171b1;
			background-color: black;
		}
x

		#top ul a:hover, #top ul .active .menu-item a, .posts .items li:first-child h2 a:hover, p a:hover {
			@include futura-ExtraBold(13px, white);
			// color: #4171b1;
			background-color: black;
		}

	#top ul {
		list-style: none;
		float: right;
	}
		#top ul li {
			float: left;
			padding-left: 40px;
		}
		#top ul li a.menu-item:hover{
			background-color: black;
		}
		#top ul li a#tray:hover{
			background-color: none;
			color:white;
		}
		#top ul a {
			display: inline-block;
			color: black;
			font-size:13px;
		}
		#top ul img {
			display: inline-block;
			vertical-align: middle;

			position: relative;
			top: -2px;

			width: 16px;
			height: 16px;

			opacity: .4;
		}
			#top ul a:hover img {
				opacity: .7;
			}
			#top ul a.active img {
				opacity: 1;
			}

/**
 *   Index page listing, category listing, search page results
 */
.items {
	list-style: none;
}
	.items > li {
		padding: 70px 0 60px;

		color: white;
		background: black;
	}
		.posts .items > li:first-child {
			background: #fff !important;
			padding: 110px 0;
		}
			.items li h1 a, .posts .items > li:first-child h2 a {
				@include futura-Bold(1em, black)
				// color: #3d4551;
			}
	.items h1 {
		padding: 0 0 8px;
		font-size: 3.5em;
		line-height: 90%;
	}
		.items h1 a {
			text-decoration: none;
			@include scale(1, 2);

		}
		.items h1 a:hover {
			text-decoration: none;
			background-color:black;
			color:white;
		}
	.items h2 {
		font-size: 3.5em;
		line-height: 90%;
	}
		.items h2 a {
			display: block;
			// padding-bottom: 12px;
			@include scale(1, 2);
			// color: #fff;
			color: rgba(212, 212, 212, 0.8);
			// color: rgba(216,212,242,.8);

			text-decoration: none;
		}
			.items h2 a:hover {
				color: #fff;
			}
	.items .content {
		padding: 10px 0 0;
	}
		.items .content p {
			@include futura-low(.75em, black);
			padding-bottom: 15px;
			text-transform: none;
			font-weight: normal;
		}

/**
 *   Pagination
 */
.pagination {
	overflow: hidden;
	padding: 30px 0;
	margin-bottom: 50px;

	border-top: 1px solid rgba(22,36,54,.1);
	border-bottom: 1px solid rgba(22,36,54,.1);
}
	.pagination:empty {
		display: none;
	}
	.pagination a {
		float: left;
		text-decoration: none;

		font-size: 13px;
		font-weight: 500;

		color: #6f7b8b;
	}
		.pagination a:hover {
			color: #3c4857;
		}
	.pagination a.next {
		float: right;
	}

/**
 *   Give some extra space to single-page wrappers
 */
.content.wrap {
	padding-bottom: 50px;

	p{
		font-size: 1em;
		text-transform: none;
		font-weight: normal;
	}

	a{
		font-size: 1em;
		font-weight: bold;
		text-transform: none;
		text-decoration: none;
		color:black;
	}

	a:hover{
		font-size: 1em;
		font-weight: bold;
		text-transform: none;
		color:white;
	}
}
	.content.wrap ul, .content.wrap ol, .items li ul {
		padding: 20px 30px;
	}
		.content.wrap ul ul, .content.wrap ol ol, .items li ul ul {
			padding: 0 20px;
		}

.contact-outer{
	padding:2em;

	.contact{
		padding:2em;

		h2{
			margin-left:.35em
		}

		p{
			margin:.5em;
		}

		input{
			text-transform: none;
			font-weight: normal;
		}
		textarea{
			text-transform: none;
			font-weight: normal;
		}
	}
}

/**
 *   Footnotes and straplines
 */
.footnote, .commentlist time, .items footer {
	display: block;
	padding: 5px 0 15px;

	background-color: white;
	color:black;
	font-size: 14px;
	font-style: italic;
	
	white-space: nowrap;
}
	.footnote {
		padding: 20px 0 40px;
	}

/**
 *   Comment form
 */
ul.commentlist {
	margin-bottom: 40px;

	list-style: none;
	border-top: 1px solid rgba(22,36,54,.1);
}
	ul.commentlist .wrap {
		position: relative;
	}
	ul.commentlist li {
		padding: 40px 0;
		border-bottom: 1px solid rgba(22,36,54,.1);
	}
		ul.commentlist time {
			font-size: 13px;
		}
		ul.commentlist h2 {
			font-size: 25px;
			line-height: 33px;
		}
		ul.commentlist .counter {
			position: absolute;
			right: 0;
			top: 0;

			font-size: 25px;
			font-weight: 300;
			color: #cdd2da;
		}

#comment {
	overflow: hidden;
}
	#comment label[for] {
		display: none;
	}
	#comment p {
		float: left;
		width: 48%;
		margin-right: 4%;
		margin-bottom: 10px;

		text-indent: 0;
	}
		#comment p + p {
			margin-right: 0;
		}
		#comment p.textarea {
			float: none;
			width: 100%;
		}
	#comment input, #comment textarea {
		width: 100%;
		padding: 10px 15px;

		font-size: 15px;
		font-weight: normal;

		border: 1px solid rgba(22,36,54,.2);
		border-radius: 4px;
	}
		#comment input:focus, #comment textarea:focus {
			outline: none;
			background: #f7f9fc;
		}
		#comment textarea {
			min-height: 150px;
			max-height: 800px;
			resize: vertical;
		}
	#comment button {
		display: inline-block;
		padding: 9px 18px;

		background: #4e82ce;
		color: #fff;

		border: none;
		border-radius: 5px;
		cursor: pointer;

		font-size: 13px;
		font-weight: 500;
	}
		#comment button:hover {
			background: #3c6eb7;
		}

/**
 *   Footer
 */
#bottom {
	padding: 30px 0 40px;
}
	#bottom ul {
		// float: right;
		list-style: none;
	}
		#bottom li {
			// float: left;
			padding-left: 35px;

			font-size: 14px;
		}
		#bottom a {
			text-decoration: none;
		}